@font-face {
  font-family: quicksand-bold;
  src: url(/Quicksand_font/static/Quicksand-Bold.ttf);
}
@font-face {
  font-family: quicksand-light;
  src: url(../Quicksand_font/static/Quicksand-Light.ttf);
}
@font-face {
  font-family: quicksand-medium;
  src: url(../Quicksand_font/static/Quicksand-Medium.ttf);
}
@font-face {
  font-family: quicksand-regular;
  src: url(../Quicksand_font/static/Quicksand-Regular.ttf);
}
@font-face {
  font-family: quicksand-semibold;
  src: url(../Quicksand_font/static/Quicksand-SemiBold.ttf);
}
html, body {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  font-family: quicksand-semibold;
}
html .header, body .header {
  position: relative;
  width: auto;
  height: 56px;
  opacity: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image/header_pattern.png");
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 2.4px solid #31B9E4;
  font-family: quicksand-bold;
  padding-right: 24px;
  padding-left: 24px;
}
html .header ::-webkit-scrollbar, body .header ::-webkit-scrollbar {
  width: 4px;
}
html .header ::-webkit-scrollbar-track, body .header ::-webkit-scrollbar-track {
  background: inherit;
}
html .header ::-webkit-scrollbar-thumb, body .header ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.38);
  border-radius: 6px;
}
html .header ::-webkit-scrollbar-thumb:hover, body .header ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.501);
}
html .header .logo, body .header .logo {
  display: flex;
  align-items: center;
}
html .header .nav-items, body .header .nav-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
html .header .nav-items li, body .header .nav-items li {
  margin-left: 32px;
  font-size: 14px;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
html .header .nav-items li a, body .header .nav-items li a {
  color: #3FD28B;
  text-decoration: none;
}
html .header .nav-items li .alert-anchor, body .header .nav-items li .alert-anchor {
  color: #222222;
  text-decoration: none;
  padding: 0;
}
html .header .nav-items li .alert-anchor div #alert-div-hover, body .header .nav-items li .alert-anchor div #alert-div-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.1s;
}
html .header .nav-items li .alert-anchor div .alert-div, body .header .nav-items li .alert-anchor div .alert-div {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  transform: translateY(-3em);
  transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0.3s linear 0.01s;
  width: 315px;
  height: auto;
  top: 44.5px;
  right: -11px;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFEE;
  font-family: quicksand-semibold;
  overflow-y: hidden;
}
html .header .nav-items li .alert-anchor div .alert-div ul, body .header .nav-items li .alert-anchor div .alert-div ul {
  max-height: 534px;
  overflow-y: overlay;
  padding: 0;
}
html .header .nav-items li .alert-anchor div .alert-div ul li, body .header .nav-items li .alert-anchor div .alert-div ul li {
  margin: 0;
  padding: 12px 16px;
  display: block;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}
html .header .nav-items li .alert-anchor div .alert-div ul li div div .is-shown-icon, body .header .nav-items li .alert-anchor div .alert-div ul li div div .is-shown-icon {
  background-image: url("../image/icons/dash-circle.svg");
  background-size: 16px;
  filter: invert(35%) sepia(7%) saturate(6227%) hue-rotate(107deg) brightness(96%) contrast(76%);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
html .header .nav-items li .alert-anchor div .alert-div ul li div .line, body .header .nav-items li .alert-anchor div .alert-div ul li div .line {
  padding: 4px 0px;
}
html .header .nav-items li .alert-anchor div .alert-div ul li div .line1, body .header .nav-items li .alert-anchor div .alert-div ul li div .line1 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #222222;
}
html .header .nav-items li .alert-anchor div .alert-div ul li div .line2, body .header .nav-items li .alert-anchor div .alert-div ul li div .line2 {
  font-size: 12px;
}
html .header .nav-items li .alert-anchor div .alert-div ul li div .line2 span, body .header .nav-items li .alert-anchor div .alert-div ul li div .line2 span {
  color: #6E6E6E;
}
html .header .nav-items li .alert-anchor div .alert-div ul li div .line3, body .header .nav-items li .alert-anchor div .alert-div ul li div .line3 {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-family: quicksand-medium;
  color: #6E6E6E;
}
html .header .nav-items li .alert-anchor div .alert-div ul .alert-seen, body .header .nav-items li .alert-anchor div .alert-div ul .alert-seen {
  background-color: #FFFFFF;
}
html .header .nav-items li .alert-anchor div .alert-div ul .alert-seen .is-shown-icon, body .header .nav-items li .alert-anchor div .alert-div ul .alert-seen .is-shown-icon {
  background-image: url("../image/icons/checkbox-checked.svg");
  background-size: 21px;
  filter: none;
  background-position: center;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
html .header .nav-items li .alert-anchor div .alert-div .alert-subdiv, body .header .nav-items li .alert-anchor div .alert-div .alert-subdiv {
  border-radius: 8px;
  position: relative;
  padding-bottom: 48px;
}
html .header .nav-items li .alert-anchor div .alert-div .alert-subdiv .alert-buttons, body .header .nav-items li .alert-anchor div .alert-div .alert-subdiv .alert-buttons {
  padding: 9px 0px;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
html .header .nav-items li .alert-anchor div .alert-div .alert-subdiv .alert-buttons button, body .header .nav-items li .alert-anchor div .alert-div .alert-subdiv .alert-buttons button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  color: #1F7A54;
  font-size: 14px;
  font-family: quicksand-semibold;
  cursor: pointer;
}
html .header .nav-items li .announcement-anchor, body .header .nav-items li .announcement-anchor {
  color: #222222;
  text-decoration: none;
  padding: 0;
}
html .header .nav-items li .announcement-anchor div #announcement-div-hover, body .header .nav-items li .announcement-anchor div #announcement-div-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.1s;
}
html .header .nav-items li .announcement-anchor div .announcement-div, body .header .nav-items li .announcement-anchor div .announcement-div {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  transform: translateY(-3em);
  transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0.3s linear 0.01s;
  width: 315px;
  height: auto;
  top: 44.5px;
  right: -11px;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFEE;
  font-family: quicksand-semibold;
  overflow-y: hidden;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul, body .header .nav-items li .announcement-anchor div .announcement-div ul {
  max-height: 534px;
  overflow-y: overlay;
  padding: 0;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li, body .header .nav-items li .announcement-anchor div .announcement-div ul li {
  margin: 0;
  padding: 12px 16px;
  display: block;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div div .is-shown-icon, body .header .nav-items li .announcement-anchor div .announcement-div ul li div div .is-shown-icon {
  background-image: url("../image/icons/dash-circle.svg");
  background-size: 16px;
  filter: invert(35%) sepia(7%) saturate(6227%) hue-rotate(107deg) brightness(96%) contrast(76%);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line {
  padding: 4px 0px;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line1, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line1 {
  display: flex;
  justify-content: space-between;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line1 .from, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line1 .from {
  font-size: 12px;
  color: #6E6E6E;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line1 .from span, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line1 .from span {
  color: #222222;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line2, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line2 {
  display: block;
  font-size: 14px;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line2 div, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line2 div {
  justify-self: flex-start;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line3, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line3 {
  font-size: 12px;
  color: #6E6E6E;
  height: 15px;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: quicksand-medium;
  color: #6E6E6E;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 .attach, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 .attach {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 15px;
  align-items: center;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 .attach img, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 .attach img {
  height: 100%;
  text-align: center;
  position: absolute;
  left: -5px;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 .attach span, body .header .nav-items li .announcement-anchor div .announcement-div ul li div .line4 .attach span {
  margin-left: 10px;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul .announcement-seen, body .header .nav-items li .announcement-anchor div .announcement-div ul .announcement-seen {
  background-color: #FFFFFF;
}
html .header .nav-items li .announcement-anchor div .announcement-div ul .announcement-seen .is-shown-icon, body .header .nav-items li .announcement-anchor div .announcement-div ul .announcement-seen .is-shown-icon {
  background-image: url("../image/icons/checkbox-checked.svg");
  background-size: 21px;
  filter: none;
  background-position: center;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
html .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv, body .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv {
  border-radius: 8px;
  position: relative;
  padding-bottom: 48px;
}
html .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv .announcement-buttons, body .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv .announcement-buttons {
  padding: 9px 0px;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv .announcement-buttons button, body .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv .announcement-buttons button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  color: #1F7A54;
  font-size: 14px;
  font-family: quicksand-semibold;
  cursor: pointer;
}
html .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv .announcement-buttons .verticle-border, body .header .nav-items li .announcement-anchor div .announcement-div .announcement-subdiv .announcement-buttons .verticle-border {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
}
html .header .nav-items li .alert, body .header .nav-items li .alert {
  display: flex;
  align-items: center;
  position: relative;
}
html .header .nav-items li .alert .badge-number, body .header .nav-items li .alert .badge-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 12px;
  width: 17px;
  height: 17px;
  background-color: #2A7FF3;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0;
}
html .header .nav-items li .alert-badge-icon, body .header .nav-items li .alert-badge-icon {
  width: 28px;
  height: 33px;
}
html .header .nav-items li .announcement-badge-icon, body .header .nav-items li .announcement-badge-icon {
  width: 31px;
  height: 33px;
}
html .header .nav-items li .user-badge-icon, body .header .nav-items li .user-badge-icon {
  width: 35px;
  height: 37px;
}
html .header .nav-items li .user-badge-icon #user, body .header .nav-items li .user-badge-icon #user {
  width: 28px;
  height: 28px;
  border: 2px solid #3FD28B;
  border-radius: 50%;
}
html .header .nav-items li .user-badge-icon .badge-text, body .header .nav-items li .user-badge-icon .badge-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  color: #222222;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0;
}
html .header .nav-items #hamburger-list, body .header .nav-items #hamburger-list {
  display: none;
  cursor: pointer;
}
html .header .nav-items #hamburger-list #verticle-navbar, body .header .nav-items #hamburger-list #verticle-navbar {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.1s;
}
html .header .nav-items #hamburger-list .verticle-nav, body .header .nav-items #hamburger-list .verticle-nav {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  transform: translateY(-3em);
  transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0.3s linear 0.01s;
  width: 280px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  background-color: #FFFFFF;
  top: 59px;
  right: 16px;
  border-radius: 2px;
}
html .header .nav-items #hamburger-list .verticle-nav ul, body .header .nav-items #hamburger-list .verticle-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
html .header .nav-items #hamburger-list .verticle-nav ul li, body .header .nav-items #hamburger-list .verticle-nav ul li {
  margin: 0;
  display: block;
  padding: 15px 24px 15px 16px;
}
html .header .nav-items #hamburger-list .verticle-nav ul li div a, body .header .nav-items #hamburger-list .verticle-nav ul li div a {
  font-size: 14px;
  color: #1F7A54;
  text-decoration: none;
}
html .header .nav-items #hamburger-list .verticle-nav ul li ul, body .header .nav-items #hamburger-list .verticle-nav ul li ul {
  display: none;
}
html .header .nav-items #hamburger-list .verticle-nav ul .selected, body .header .nav-items #hamburger-list .verticle-nav ul .selected {
  background-color: #F3F3F3;
  padding-bottom: 0;
}
html .header .nav-items #hamburger-list .verticle-nav ul .selected div, body .header .nav-items #hamburger-list .verticle-nav ul .selected div {
  padding-bottom: 15px;
}
html .header .nav-items #hamburger-list .verticle-nav ul .selected div div, body .header .nav-items #hamburger-list .verticle-nav ul .selected div div {
  transform: rotate(180deg);
}
html .header .nav-items #hamburger-list .verticle-nav ul .selected ul, body .header .nav-items #hamburger-list .verticle-nav ul .selected ul {
  padding: 0;
  margin: 0;
  display: block;
}
html .header .nav-items #hamburger-list .verticle-nav ul .selected ul li, body .header .nav-items #hamburger-list .verticle-nav ul .selected ul li {
  margin: 0;
  display: block;
  height: 18px;
  padding: 15px 24px 15px 16px;
}
html .header .nav-items #hamburger-list .verticle-nav ul .selected ul li a, body .header .nav-items #hamburger-list .verticle-nav ul .selected ul li a {
  font-size: 14px;
  color: #1F7A54;
  text-decoration: none;
}
html .header .nav-items #hamburger-list .verticle-nav ul .hamburger-item div, body .header .nav-items #hamburger-list .verticle-nav ul .hamburger-item div {
  display: flex;
  justify-content: space-between;
}
html .header .nav-items #hamburger-list .verticle-nav ul .hamburger-item div div, body .header .nav-items #hamburger-list .verticle-nav ul .hamburger-item div div {
  padding: 0;
  width: 12px;
  height: 12px;
  background-image: url("../image/icons/down-arrow.svg");
  background-size: 12px;
  background-position: top right;
  background-repeat: no-repeat;
  filter: invert(42%) sepia(8%) saturate(2891%) hue-rotate(103deg) brightness(91%) contrast(100%);
}
html .header #dashboard, body .header #dashboard {
  color: #FFFFFF;
  font-size: 14px;
  border-bottom: 4px solid #FFFFFF;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 15px;
  padding-top: 19px;
  align-self: center;
}
html .container, body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  background-color: #EEEEEE;
  padding: 24px 24px 33px 24px;
}
html .container .section, body .container .section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html .container .overview, body .container .overview {
  width: 100%;
  background-color: #8DDC97;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 2px;
}
html .container .overview .courses, body .container .overview .courses {
  display: flex;
  align-items: center;
  justify-content: center;
}
html .container .overview .courses .overview-span, body .container .overview .courses .overview-span {
  font-family: quicksand-bold;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 6px;
}
html .container .overview .course, body .container .overview .course {
  width: 100%;
  height: 60px;
  margin-top: auto;
  border-bottom: 4px solid #222222;
}
html .container .courses-heading, body .container .courses-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 17px;
}
html .container .courses-heading .num, body .container .courses-heading .num {
  color: #686868;
  font-size: 12px;
  align-self: flex-end;
}
html .container .courses-heading .sort, body .container .courses-heading .sort {
  display: flex;
  align-items: center;
  color: #686868;
  font-size: 12px;
}
html .container .courses-heading .sort .select, body .container .courses-heading .sort .select {
  width: 166px;
  border: none;
  background-color: #EEEEEE;
  font-family: quicksand-semibold;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #222222;
  background-image: url("../image/icons/arrow-down.svg");
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-position: right 0px center;
  margin-left: 6px;
  padding-bottom: 4px;
  margin-right: 24px;
}
html .container .courses-heading .sort .no-outline:focus, body .container .courses-heading .sort .no-outline:focus {
  outline: none;
}
html .container .main-content, body .container .main-content {
  width: 100%;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
  grid-gap: 25px 24px;
}
html .container .main-content .content1, body .container .main-content .content1 {
  background-color: #FFFFFF;
  padding: 24px 16px 0px 24px;
  font-size: 12px;
  color: #666666;
}
html .container .main-content .content1 .description, body .container .main-content .content1 .description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}
html .container .main-content .content1 .description .course-text, body .container .main-content .content1 .description .course-text {
  width: 100%;
  margin-left: 16px;
}
html .container .main-content .content1 .description .course-text .title, body .container .main-content .content1 .description .course-text .title {
  color: #222222;
  font-size: 16px;
  font-family: quicksand-bold;
  margin-bottom: 7px;
}
html .container .main-content .content1 .description .course-text .sub-grade, body .container .main-content .content1 .description .course-text .sub-grade {
  margin-bottom: 7px;
}
html .container .main-content .content1 .description .course-text .sub-grade .subject, body .container .main-content .content1 .description .course-text .sub-grade .subject {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 9px;
  margin-right: 8px;
}
html .container .main-content .content1 .description .course-text .sub-grade .min, body .container .main-content .content1 .description .course-text .sub-grade .min {
  color: #1F7A54;
}
html .container .main-content .content1 .description .course-text .cap-dur .duration, body .container .main-content .content1 .description .course-text .cap-dur .duration {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 8px;
  padding-left: 8px;
}
html .container .main-content .content1 .description .course-text .size, body .container .main-content .content1 .description .course-text .size {
  margin-bottom: 16px;
}
html .container .main-content .content1 .description .course-text .size .size-num, body .container .main-content .content1 .description .course-text .size .size-num {
  color: black;
  font-family: quicksand-bold;
}
html .container .main-content .content1 .description .course-text .div-select, body .container .main-content .content1 .description .course-text .div-select {
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  font-family: quicksand-semibold;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #222222;
  background-image: url("../image/icons/arrow-down.svg");
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-position: right center;
  padding-bottom: 4px;
  margin-bottom: 8px;
}
html .container .main-content .content1 .description .course-text .no-outline:focus, body .container .main-content .content1 .description .course-text .no-outline:focus {
  outline: none;
}
html .container .main-content .content1 .description .unfavourite, body .container .main-content .content1 .description .unfavourite {
  filter: brightness(10%);
  opacity: 10%;
}
html .container .main-content .content1 .horizontle-border, body .container .main-content .content1 .horizontle-border {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-right: 8px;
}
html .container .main-content .content1 .icons, body .container .main-content .content1 .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 18px 32px 9px 24px;
}
html .container .main-content .content1 .icons .unavailable-icon, body .container .main-content .content1 .icons .unavailable-icon {
  opacity: 50%;
}
html .container .main-content .content1 .icons button, body .container .main-content .content1 .icons button {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}
html .container .main-content .expired-content, body .container .main-content .expired-content {
  position: relative;
}
html .container .main-content .expired-content .expired-badge, body .container .main-content .expired-content .expired-badge {
  font-family: quicksand-bold;
  padding: 4px 7px 2px 5px;
  font-size: 10px;
  background-color: #FFE4E6;
  color: #D80000;
  position: absolute;
  top: 0;
  left: 0;
}
html .footer, body .footer {
  background-color: #EEEEEE;
}
html .footer .bottom-nav, body .footer .bottom-nav {
  text-align: center;
  font-size: 14px;
}
html .footer .bottom-nav a, body .footer .bottom-nav a {
  color: #1F7A54;
  text-decoration: none;
}
html .footer .bottom-nav .bottom-nav-items, body .footer .bottom-nav .bottom-nav-items {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 8px;
  margin-right: 10px;
}
html .footer .copyright, body .footer .copyright {
  padding-left: 24px;
  padding-right: 24px;
  color: #616161;
  background-color: #E0E1E1;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
html .footer .copyright .footer-logo, body .footer .copyright .footer-logo {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 16px;
  margin-right: 16px;
}
html .footer .copyright .footer-text span, body .footer .copyright .footer-text span {
  font-family: quicksand-bold;
}

@media (max-width: 1040px) {
  .main-content {
    max-width: 700px;
  }
}
@media (min-width: 1125px) {
  .main-content {
    max-width: 1200px;
  }
}
@media (min-width: 1540px) {
  .main-content {
    max-width: 1850px;
  }
}
@media (min-width: 2100px) {
  .main-content {
    max-width: 100%;
  }
}
@media (max-width: 880px) {
  body .header .nav-items .big {
    display: none;
  }
  body .header .nav-items #hamburger-list {
    display: flex;
  }
  body .header {
    min-width: 480px;
  }
  body .container {
    min-width: 480px;
  }
  body .footer {
    min-width: 528px;
  }
}/*# sourceMappingURL=dashboard.css.map */